a.sourceLine {
    display: inline-block;
    line-height: 1.25
}

a.sourceLine {
    pointer-events: none;
    color: inherit;
    text-decoration: inherit
}

a.sourceLine:empty {
    height: 1.2em
}


code.sourceCode {
    white-space: pre;
    position: relative;
    padding: 0;
}

div.sourceCode {
    margin: 1em 0
}

pre.sourceCode {
    margin: 0
}

pre.example code {
    padding: 0;
}

@media screen {
    div.sourceCode {
        overflow: auto
    }
}

@media print {
    code.sourceCode {
        white-space: pre-wrap
    }

    a.sourceLine {
        text-indent: -1em;
        padding-left: 1em
    }
}

pre.numberSource a.sourceLine {
    position: relative;
    left: -4em
}

pre.numberSource a.sourceLine::before {
    content: attr(title);
    position: relative;
    left: -1em;
    text-align: right;
    vertical-align: baseline;
    border: none;
    pointer-events: all;
    display: inline-block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0 4px;
    width: 4em;
    color: #aaaaaa
}

pre.numberSource {
    margin-left: 3em;
    border-left: 1px solid #aaaaaa;
    padding-left: 4px
}

div.sourceCode {
}

@media screen {
    a.sourceLine::before {
        text-decoration: underline
    }
}

html.light {
    --color1: #ff0000;
    --color2: #60a0b0;
    --color3: #40a070;
    --color4: #007020;
    --color5: #880000;
    --color6: #06287e;
    --color7: #ba2121;
    --color8: #8a5900;
}

html, html.dark {
    --color1: #ffa7c4;
    --color2: #809393;
    --color3: #f78c6c;
    --color4: #c7a8f8;
    --color5: #ff80a9;
    --color6: #82aaff;
    --color7: #ffd473;
    --color8: #9cc76b;
}

code span.al {
    color: var(--color1);
    font-weight: bold
}

code span.an {
    color: var(--color2);
    font-weight: bold;
    font-style: italic
}

code span.at {
    color: #7d9029
}

code span.bn, code span.bu, code span.dv, code span.ex, code span.fl {
    color: var(--color3);
}

code span.cf, code span.kw {
    color: var(--color4);
    font-weight: bold
}

code span.ch {
    color: #4070a0
}

code span.cn {
    color: var(--color5);
}

code span.co {
    color: var(--color2);
    font-style: italic
}

code span.cv {
    color: var(--color2);
    font-weight: bold;
    font-style: italic
}

code span.do {
    color: var(--color7);
    font-style: italic
}

code span.dt {
    color: var(--color7);
}

code span.er {
    color: var(--color1);
    font-weight: bold
}

code span.fu {
    color: var(--color6);
}

code span.im {
}

code span.in {
    color: var(--color2);
    font-weight: bold;
    font-style: italic
}

code span.op, code span.st {
    color: var(--color8);
}

code span.ot {
    color: var(--color4);
}

code span.pp {
    color: #bc7a00
}

code span.sc, code span.vs {
    color: #4070a0
}

code span.ss {
    color: #bb6688
}

code span.va {
    color: var(--color6);
}

code span.wa {
    color: var(--color2);
    font-weight: bold;
    font-style: italic
}
